{% extends 'front/base.html' %}
{% load static %}

{% block headblock %}
<title>{{site.name}} | Service Providers</title>
{% endblock %}


{% block mainblock %}

<!-- Breadcrumb -->
<div class="container">
 <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
  <div class="f2-s-1 p-r-30 m-tb-6">
   <a href="index.html" class="breadcrumb-item f1-s-3 cl9">
    Home
   </a>

   <span class="breadcrumb-item f1-s-3 cl9">
    Service Providers
   </span>
  </div>

  
       
<!-- <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
     <form action="{% url 'all_serviceproviders_search' %}" method="POST">
     {% csrf_token %}
     <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="txt" name="txt" placeholder="">
       <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
          <i class="zmdi zmdi-search"></i>
     </button>
     </form>
     </div> -->
   
  
  
 </div>
</div>

<!-- Post -->
<section class="bg0 p-t-70 p-b-55">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-10 col-lg-12 p-b-80">
    <div class="row">

     <!-- <table class="table">
          <thead class="thead-dark">
               <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Occupation</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Address</th>
                    <th scope="col">Suburb</th>
                    <th scope="col">Contact Number</th>
               </tr>
          </thead>
          <tbody>
               {% for i in serviceproviders %}
               <tr>
                    <th scope="row"></th>
                    <td>{{i.spimageurl}}</td> 
                    <td>{{i.name}}</td>
                    <td>{{i.occupation}}</td>
                    <td>{{i.organization}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.suburb}}</td>
                    <td>{{i.sptell}}</td>
               </tr>
               {% endfor %}
          </tbody>
     </table> -->



<div class="container mt-3">
     <div class="row justify-content-center">
          <div class="col-md-10 col-lg-12 p-b-20">
               <div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
                    <h3 class="f1-m-2 cl3 tab01-title">
                         Service Providers
                    </h3>
               </div>
               <div>
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
               </div>
          <!-- <h2>Filterable Table</h2>
          <p>Type something in the input field to search the table for first names, last names or emails:</p> -->
          
          <br>
          <table class="table table-hover">
               <thead>
                    
                    <tr>
                         <th>Image</th>
                         <th>Name</th>
                         <th>Occupation</th>
                         <th>Organization</th>
                         <th>Address</th>
                         <th>Suburb</th>
                         <th>Contact Number</th>
                    </tr>

               </thead>
               <tbody id="myTable">
                    {% for i in serviceproviders %}
                    <tr>
                         <td><img src="{{i.spimageurl}}" style="display: inline-block; width: 50px; height: 50px;" alt="avatar" class="img-circle"></td>
                         <td>{{i.name}}</td>
                         <td>{{i.occupation}}</td>
                         <td>{{i.organization}}</td>
                         <td>{{i.address}}</td>
                         <td>{{i.suburb}}</td>
                         <td>{{i.sptell}}</td>
                         {% endfor %}
                    </tr>
                    
               </tbody>
          </table>
     </div>
     </div>
</div>
     
     


     

     
<!--1-->
     <!--{% for i in serviceproviders %}
     <div class="col-lg-4 col-sm-6 p-r-25 p-r-15-sr991">
      Item latest
      <div class="m-b-45">
       <a href="{% url 'all_serviceproviders' word=i.name %}" class="wrap-pic-w hov1 trans-03">
        <img src="{{i.spimageurl}}" alt="IMG">
       </a>

       <div class="p-t-16">
        <h5 class="p-b-5">
         <a href="{% url 'all_serviceproviders' word=i.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
          {{i.name}}
         </a>
        </h5>

        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          {{i.occupation}} 
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          @ {{i.organization}}
         </a>
        </span>

        <br>

        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
         {{i.address}},
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          {{i.suburb}}
         </a>
        </span>

        <br>

        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          {{i.sptell}}
         </span>

        
       </div>
      </div>
     </div>
     {% endfor %}-->
    
<!--2-->
     <!-- <div class="col-sm-6 p-r-25 p-r-15-sr991">
      
      <div class="m-b-45">
       <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
        <img src="{% static 'front/images/sp13.jpg' %}" alt="IMG">
       </a>

       <div class="p-t-16">
        <h5 class="p-b-5">
         <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
          Dr. Jennifer Willow
         </a>
        </h5>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Physician,
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Medi Clinic
         </a>
        </span>
       
        <br>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          4 Webb Street,
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Eros
         </a>
        </span>
       
        <br>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          081 111111111
        </span>
       
       
       </div>
      </div>
     </div> -->

     

     
<!--3-->
     <!-- <div class="col-sm-6 p-r-25 p-r-15-sr991">
      
      <div class="m-b-45">
       <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
        <img src="{% static 'front/images/sp12.png' %}" alt="IMG">
       </a>

       <div class="p-t-16">
        <h5 class="p-b-5">
         <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
          Dr. Jennifer Willow
         </a>
        </h5>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Physician,
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Medi Clinic
         </a>
        </span>
       
        <br>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          4 Webb Street,
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Eros
         </a>
        </span>
       
        <br>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          081 111111111
        </span>
       
       
       </div>
      </div>
     </div> -->
<!--4-->
     <!-- <div class="col-sm-6 p-r-25 p-r-15-sr991">
      
      <div class="m-b-45">
       <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
        <img src="{% static 'front/images/sp13.jpg' %}" alt="IMG">
       </a>

       <div class="p-t-16">
        <h5 class="p-b-5">
         <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
          Dr. Jennifer Willow
         </a>
        </h5>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Physician,
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Medi Clinic
         </a>
        </span>
       
        <br>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          4 Webb Street,
         </a>
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          Eros
         </a>
        </span>
       
        <br>
       
        <span class="cl8">
         <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          081 111111111
        </span>
       
       
       </div>
      </div>
     </div> -->

     

     

     
    </div>

    <!-- Pagination
    <div class="flex-wr-s-c m-rl--7 p-t-15">
     <a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active">1</a>
     <a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">2</a>
    </div>
   </div> -->

   <!--<div class="col-md-10 col-lg-4 p-b-80">
    <div class="p-l-10 p-rl-0-sr991">
     

     Most Popular
     <div class="p-b-23">
      <div class="how2 how2-cl4 flex-s-c">
       <h3 class="f1-m-2 cl3 tab01-title">
        Most Popular
       </h3>
      </div>

      <ul class="p-t-35">

       
       
       
      </ul>
     </div>

      <div class="flex-c-s p-b-50">
      <a href="#">
       <img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
      </a>
     </div>

     Tag
     <div>
      <div class="how2 how2-cl4 flex-s-c m-b-30">
       <h3 class="f1-m-2 cl3 tab01-title">
        Tags
       </h3>
      </div>

      <div class="flex-wr-s-s m-rl--5">
       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        Fashion
       </a>

       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        Lifestyle
       </a>

       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        Denim
       </a>

       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        Streetstyle
       </a>

       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        Crafts
       </a>

       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        Magazine
       </a>

       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        News
       </a>

       <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
        Blogs
       </a>
      </div>
     </div>
    </div>
   </div>-->
  </div>
 </div>
</section>







{% endblock %}